form.form-inline
  span=pageSizeText
  select.form-control(data-bind='options: availablePageSizes, value: pageSizeInput')
  .input-group
    span.input-group-btn
      button.btn.btn-default(data-bind='click: decPageNumber', type='button')
        .glyphicon.glyphicon-triangle-left
    input.form-control(data-bind='value: pageNumberText, attr: { size: pageNumberSize, maxlength: pageNumberSize }', type='text')
    span.input-group-addon
      span=totalPageCountText
      span(data-bind='text: pageCount')
    .input-group-btn
      button.btn.btn-default(data-bind='click: incPageNumber', type='button')
        .span.glyphicon.glyphicon-triangle-right
