nav.unselectable
  ul.pagination
    li.previous(data-bind='css: { disabled: pageCountBefore() <= 0 }')
      a
        span.glyphicon.glyphicon-triangle-left(data-bind='click: decPageNumber')
          | Prev
    li
      span(data-bind='text: pageNumber() + 1')
      span /
      span(data-bind='text: pageCount')
    li.next(data-bind='css: { disabled: pageCountAfter() <= 0 }')
      a
        span.glyphicon.glyphicon-triangle-right(data-bind='click: incPageNumber')
          | Next
